<!-- THIS IS THE REGISTRATION FILE -->

{% extends "reference.html" %}
{% block content %}
  <center>
    <h2> Register Your Account </h2>
    <form action = '/register' method = 'POST'>
      Username: <input type = 'text' name = 'username' required><br><br>
      Password: <input type = 'password' name = 'pass0' required><br><br>
      Confirm Password: <input type = 'password' name = 'pass1' required><br><br>
      <input type='submit' value='Create' name='signup'>
    </form>
  </center>
{% endblock content %}
