<!DOCTYPE html>
<html>
  {% block head %}
  <head>
    <title>
      {% block title%} {{title}} {% endblock title %}-|-&nbsp e.g.
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style0.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  {% endblock head %}

  {% block navbar %}
  <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:black;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">e.g.</a>
	<span class="glyphicon glyphicon-calendar"></span>
      </div>
      <form class="navbar-form navbar-left" action="/search" method="GET,POST">
        <div class="form-group">
          <input type="text" class="form-control" name="query" placeholder="What do you want to do?">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
	<form class="navbar-form navbar-left" action="/advancedsearch">
	  <button type="submit" class="btn btn-default">  Advanced Search </button>
	</form>
      <ul class="nav navbar-nav navbar-right">
      	{% block icons %}
        {% if loggedIn %}
	<li><a href="/profile"><span class="glyphicon glyphicon-home" style="padding-top:0px;"></span> Profile</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out" style="padding-top:0px;"></span> Log Out</a></li>
        {% else %}
        <li><a href="/signup"><span class="glyphicon glyphicon-user" style="padding-top:0px;"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in" style="padding-top:0px;"></span> Log In</a></li>
        {% endif %}
        {% endblock icons %}
      </ul>
    </div>
  </nav>
  {% endblock navbar %}

  {% block body %}
  <body>
    {% block content %}
    {% endblock content %}
  </body>
  {% endblock body %}
</html>
