<!-- THIS IS THE DEMO FILE -->

{% extends "reference.html" %}
{% block content %}
  <body>
	{% for i in range(10) %}
		<h1>{{events[i]["name"]["html"]}}</h1>
	    <iframe width="600" height="450" frameborder="0" style="border:0"
	      src="{{"https://www.google.com/maps/embed/v1/place?key=AIzaSyALW1zijvrQPm_RLEiR0O-3Em1f-tz4ULY &q=" + addresses[i]}}" allowfullscreen>
	    </iframe>
		<br /> <br />
		Directions:
		<ol>
			{% for direction in directions[i] %}
				<li>
					{{direction["html_instructions"]}}
				</li>
			{% endfor %}
		</ol>
	{% endfor %}
  </body>
  </html>
