{% extends "base.html" %}
{% block content %}
<style>

  h1 {
    background-color: #E8E8E8;
    font-size: 50px;
    padding-top: 25px;
  }

  body {
    background-color: #E8E8E8;
    padding-left: 25px;
    font-size: 20px;
    padding-top: 25px;
  }

  a:link, a:visited {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    display: inline-block;
  }

</style>

<h1> <u> Search Results </u> </h1>
<br>
<a href={{e['url']}} target='_blank'>Buy Tickets Here</a> <br> <br>
Starting: {{e['dS']}} @ {{e['tS']}}<br>
Ending:  {{e['dE']}} @ {{e['tE']}} <br><br> 
{{e}}
{% endblock content %}
