{% extends "base.html" %}
{% block content %}
<div class = "jumbotron" >
  <h1 style="color:black"> Welcome!</h1>
  <br>
  <p class = "large">
  Welcome to _____!
</p>
  <p class = "medium">
    This website is the latest innovation in<br>
    Blah blah blah <br>
    Filler text <br> 
  <br><br> <br> <br> <br> <br>
  <div class = "page-header" style="text-align:center">
    <h1 style="color:black"> Events Near You</h1>
  </div>
  <div class = "container" style="align:left">
    <!--<form action="/search" method="GET">
      Enter address:
      <input type="text" name="address">
      <br>
      Enter query:
      <input type="text" name="query">
      <br>
      Within Distance:
      <input type="text" name="radius">
      <br>
      <input type="submit">
    </form>-->
  </div>
</div>

{% endblock content %}
