{% extends "base.html" %} 
{% block content %}
<div class = "jumbotron" >
  <h1 style="color:black"> Welcome!</h1>
  <br>
  <p class = "large">
    Are you crazy? I can't swallow that. Son, as your lawyer, I declare y'all are in a 12-piece bucket o' trouble. But I done struck you a deal: Five hours of community service cleanin' up that ol' mess you caused.

    Anyhoo, your net-suits will allow you to experience Fry's worm infested bowels as if you were actually wriggling through them. Wow, you got that off the Internet? In my day, the Internet was only used to download pornography.

    Yep, I remember. They came in last at the Olympics, then retired to promote alcoholic beverages! I'm just glad my fat, ugly mama isn't alive to see this day. There's one way and only one way to determine if an animal is intelligent. Dissect its brain!

    They're like sex, except I'm having them! Goodbye, friends. I never thought I'd die like this. But I always really hoped. Hey, whatcha watching? They're like sex, except I'm having them! Then throw her in the laundry room, which will hereafter be referred to as "the brig".

    Hey, guess what you're accessories to. WINDMILLS DO NOT WORK THAT WAY! GOOD NIGHT! I usually try to keep my sadness pent up inside where it can fester quietly as a mental illness. Yeah, and if you were the pope they'd be all, "Straighten your pope hat." And "Put on your good vestments."

    Oh, I think we should just stay friends. Okay, it's 500 dollars, you have no choice of carrier, the battery can't hold the charge and the reception isn't very… Morbo can't understand his teleprompter because he forgot how you say that letter that's shaped like a man wearing a hat.

  <br><br>
  <div class = "page-header" style="text-align:center">
    <h1 style="color:black"> Find your event today!</h1>
  </div>
  <div class = "container" style="align:left">
    <form action="/search" method="GET">
      Enter address: 
      <input type="text" name="address">
      <br>
      <!--Enter query:
      <input type="text" name="query">
      <br>-->
      Within Distance:
      <input type="text" name="radius">
      <br>
      <input type="submit">
    </form>
  </div>
</div>

{% endblock content %}
