{% extends "base.html" %}
{% block content %}
<div class = "jumbotron" >
  <h1 style="color:black"> Welcome!</h1>
  <br>
  <p class = "large">
  Welcome to e.g.! With this website, you can search for any events in your area.
  From the newest pizza place, to an instructional class in the hottest workout
  trend, e.g. uses your location to find the perfect event for you! With our various
  search options, you can find events near you, their locations, and directions from
  your location to the event! So, what are you waiting for? Get to exploring!
  </p>
{% endblock content %}
