{% extends "base.html" %}
{% block content %}
<div class = "container" style="align:left">
  <div class="media">
    
    <div class="media-body">
      <font size="4">
	<h1 class="media-heading">{{title}}</h1>
	<p><b> Release Year: </b> {{year}} </p>
	<p><b> Genre: </b>{{genre}}</p>
	<p><b> Directed by: </b> {{director}} </p>
	<p><b> Plot:</b> {{plot}}</p>
	<h2>Review</h2>
	{% for block in review %}
	
	{% if block != "Advertisement" and block != None and block != "Over " and block != "A preview of the film." and block != "Go to Home Page »"%}
	<p class ="text-justify">{{block}}</p>
	{% endif %}
	
	{% endfor %}
      </font>
    </div>
    
   <div class="media-right">
     <img src={{pic}} class="media-object" style="width:300px;padding:15px">
     <br><br>
     {% if new %}
     <form action = "/movie_review" style="padding:15px" method = 'POST'>
       <input type = "hidden" name="movie" value="filler">
       <input type = "hidden" name="title" value ={{title.replace(" ", "_")}}>
       <input type = "hidden" name="plot" value ={{plot.replace(" ", "_")}}>
       <input type = "hidden" name="url" value ={{url}}>
       <button type="submit" class="btn btn-info" style="padding:15px">Add to your list</button>
     </form>
     {% endif %}
    </div>    

  </div>
</div>


{% endblock content %}
