{% extends "base.html" %}

{% block content %}
<div class = "container" style="align:left">
  <h1> Search Results </h1>
  {% if message is defined %}
  <p class = "large">{{message}}</p>
  {% endif %}
  <br>
  {% for i in d %}
  <form action = {{i["url"]}} method = 'POST' style="text-align:left">
    <h3> {{ i["name"]["text"]}} </h3>
    <p>{{i["status"]}}</p>
   <!-- <p>{{i["venue_id"]["address"]}}</p><br>-->
    <p>{{ i["description"]["text"] }} </p>
    <input type = "hidden" name = "title" value = {{ i[0] }}>
    <input type = "hidden" name = "url" value = {{ i[1] }}>
    <a href = {{i["url"]}}><button type="submit" class="btn btn-info">More Info</button></a>
    <br><br>
  </form>
  {% endfor %}
  </div>

{% endblock content %}
